* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden auto;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar-track ::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

header {
  height: 100vh;
  width: 100%;
  background: url("../assets/bg.jpg") no-repeat scroll center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header::after {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0;
  z-index: 1;
}

.logo svg,
.menu svg {
  height: 1.25rem;
  width: 1.25rem;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

header h1 {
  color: #fff;
  font-size: 10rem;
  letter-spacing: 1.1rem;
  z-index: 1;
}

.author {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: right;
  position: absolute;
  left: -9rem;
  bottom: 1.5rem;
  color: #fff;
  font-size: 0.6rem;
  z-index: 1;
}

.line {
  height: 1.5px;
  width: 1rem;
  background: #fff;
  margin: 0 0.25rem;
}

.separator {
  margin: 0 0.25rem;
}

.container {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 8rem;
}

.container-title {
  align-self: flex-start;
  margin: 2rem 0;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: bolder;
}

.emphasis-title {
  font-family: "Allura", cursive;
  font-size: 5rem;
  font-weight: normal;
}

.container-description {
  display: flex;
  margin: 2rem 0;
}

.description-line {
  height: 2px;
  width: 150px;
  background: #ffc107;
  margin: 0.75rem 1rem 0.75rem 0;
}

.container-description {
  color: #bdbdbd;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

.images-slider {
  min-height: 400px;
  height: 400px;
  max-height: 400px;
  width: calc(100% - 250px);
  background: #fff;
  display: flex;
  margin: 0 8rem;
  padding-bottom: 1rem;
  margin-bottom: 10rem;
  overflow: auto hidden;
}

.image-container {
  height: 100%;
  margin-right: 6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.image-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.image-container img {
  height: 100%;
  width: auto;
}
